.board {
	height: 85vh;
	display: flex;
	overflow-x: auto;
}

.board::-webkit-scrollbar {
	width: 5px;
	background-color: #fff;
	border-radius: 10px;
	height: 10px;
	opacity: 0.5;
}
.board::-webkit-scrollbar-track {
	background-color: #00578a;
	border-radius: 10px;
	opacity: 0.5;
}
.board::-webkit-scrollbar-thumb {
	background-color: rgb(190, 190, 190);
	border-radius: 10px;
}

.add-list {
	width: 272px;
	margin: 10px;
	flex-shrink: 0;
}

.add-list-button {
	background-color: rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	display: flex;
	align-items: center;
	min-height: 32px;
	padding: 5px 8px;
	transition: background-color 85ms ease-in, opacity 40ms ease-in,
		border-color 85ms ease-in;
	height: fit-content;
}

.add-list-button:hover {
	background-color: rgba(0, 0, 0, 0.24);
}

.add-list-button ion-icon {
	margin-right: 1px;
}
